/* Root CSS */
:root {
  font-family: "Consolas";
  --black: #4f525d;
  --red: #df6c75;
  --green: #98c379;
  --yellow: #98c379;
  --blue: #61afef;
  --purple: #c577dd;
  --marine: #56b5c1;
  --white: #fafafa;
  --background: var(--white);
  --foreground: var(--black);
  --alt-background: var(--marine);
  --string-color: var(--blue);
  --square-brace-color: var(--green);
  --variable-color: var(--red);
  --bracket-color: var(--yellow);
  --function-color: var(--purple);
}
@media (prefers-color-scheme: dark) {
  :root {
    --black: #5a6374;
    --red: #e06c75;
    --green: #98c379;
    --yellow: #e5c07b;
    --blue: #61afef;
    --purple: #c678dd;
    --marine: #56b6c2;
    --white: #dcdfe4;
    --background: var(--black);
    --foreground: var(--white);
    --alt-background: #282c34;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

li {
  list-style-type: none;
}

li:hover {
  color: var(--variable-color);
  scale: 1.1;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  span {
    display: inline;
    color: var(--square-brace-color);
  }
}

/* Header */
.header {
  background-color: var(--alt-background);
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-title {
  cursor: pointer;
}
#header-title:hover {
  scale: 1.05;
  transition: 0.5s ease-in-out;
  .function-span {
    color: var(--function-color);
    transition: 0.5s ease-in-out;
  }
  .string-span {
    color: var(--string-color);
    transition: 0.5s ease-in-out;
  }
  .bracket-span {
    color: var(--bracket-color);
    transition: 0.5s ease-in-out;
  }
}

/* navigation */
.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2em;
  font-size: 24pt;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: 0.5s ease-in-out;
  span {
    display: none;
  }
}
.highlight-nav {
  color: var(--green);
  text-decoration: underline;
}
/* content */
#terminal {
  background-color: var(--alt-background);
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 24pt;
  padding: 20px;
  transform: translateY(100vh);
  transition: 0.5s;
}
